:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 18px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

.samples {
  width: 800px;
  margin: auto;
  padding-top: 100px;

  .list {
    padding: 50px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;

    .option {
      padding: 10px 20px;
      border: 2px solid rgba(255, 255, 255, 0.87);
      border-radius: 5px;
      cursor: pointer;
      white-space: nowrap;

      &.active {
        background-color: rgba(255, 255, 255, 0.05);
      }

      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
  }

  .displayed {
    padding: 30px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;

    button {
      padding: 5px 10px;
    }

    .button-group {
      display: flex;
      gap: 10px;
    }
  }
}

.tearing-counters {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 9px;

  .colored-counter {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    &.color-0 {
      background-color: #4f98ca;
    }

    &.color-1 {
      background-color: #66c2a5;
    }

    &.color-2 {
      background-color: #13b4ff;
    }

    &.color-3 {
      background-color: #8b66c2;
    }

    &.color-4 {
      background-color: #66c274;
    }
  }
}
